.footer {
  background-color: #0f044c;
  color: white;
  padding: 0.2rem;
  padding-top: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__text {
}

.footer__link {
}

.footer__github {
  filter: invert(1);
}
