.inner-form {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: space-evenly;
}

.inner-form__input {
  width: 100%;
  height: fit-content;
}

.inner-form__textarea {
  padding: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  height: 100px;
}

.inner-form__textarea-container {
  position: relative;
  width: 90%;
  order: 98;
}

.char-count {
  opacity: 1;
  color: grey;
  display: inline-block;
  position: absolute;
  z-index: 99;
  bottom: 12px;
  right: 10px;
  text-align: center;
  font-size: 15px;
}

.inner-form__name {
  order: 1;
}
.inner-form__title {
  order: 2;
}

.inner-form__address {
  order: 3;
}

.inner-form__phone {
  order: 4;
}

.inner-form__email {
  order: 5;
}

.inner-form__company {
  order: 3;
}
.inner-form__city {
  order: 4;
}

.inner-form__from {
  width: 40%;
  order: 5;
}

.inner-form__to {
  width: 40%;
  order: 6;
}

.inner-form__degree {
  order: 1;
}

.inner-form__school {
  order: 2;
}

.inner-form__clear {
  order: 99;
}
