.preview {
}

.pdf-viewer {
  --scale: 0.4;
  --margin-b: calc(20px + calc((var(--scale) - 1) * 55vw));
  display: block;
  transform: scale(var(--scale));
  transform-origin: top center;
  margin: 0 auto;
  padding: 0;
  margin-bottom: var(--margin-b);
}

.pdf-download {
}

@media (min-width: 500px) {
  .pdf-viewer {
    --scale: 0.7;
  }
}

@media (min-width: 600px) {
  .pdf-viewer {
    --scale: 0.85;
  }
}

@media (min-width: 700px) {
  .pdf-viewer {
    --scale: 1;
  }
}

@media (min-width: 850px) {
  .pdf-viewer {
    --scale: 1.35;
  }
}

@media (min-width: 1080px) {
  .pdf-viewer {
    --scale: 1.7;
  }
}

@media (min-width: 1480px) {
  .pdf-viewer {
    --scale: 2.1;
  }
}
